<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/custom1.css">
    <link rel="stylesheet" href="css/bootstrap.min1.css">
    <link rel="stylesheet" href="css/slick1.css">
    <link rel="stylesheet" href="css/slick-theme1.css">
    <link rel="stylesheet" href="css/fancybox.min1.css">

    <title>Hello, world!</title>
  </head>

  <body>
    
<section class="create-job">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="job-post">
          <h4>create a job post</h4>
        </div>
      </div>
       <div class="col-md-6">
        <div class="post-img">
          <img src="images/house.png">
        </div>
      </div>
    </div>
    <div class="start-job">
      <h4>How would you like to start your job post?*</h4>
      <div class="post-opt">
        <label class="container">
          <p><span>start with a new post</span></p>
<p>use our posting tool to crete your job</p>
  <input type="radio" checked="checked" name="radio">
  <span class="checkmark"></span>
</label>
      </div>
       <div class="post-opt">
        <label class="container">
          <p><span>start with a new post</span></p>
<p>use our posting tool to crete your job</p>
  <input type="radio" checked="checked" name="radio">
  <span class="checkmark"></span>
</label>
      </div>
      <div class="post-btn">
        <a href="">save time</a>
      </div>
    </div>
    <div class="continue-btn">
      <a href="basic-info.html">Continue</a>
    </div>
  </div>
</section>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/fontawesome.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>

