<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/custom1.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/fancybox.min.css">
    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />

    <title>Hello, world!</title>
  </head>

  <body style="background-color: #4b4b4b12">

    <section class="jobs-tab-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="job-tabs">
          <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'jobs')">jobs</button>
            <button class="tablinks" onclick="openCity(event, 'Candidates')">Candidates</button>
            <button class="tablinks" onclick="openCity(event, 'Messages')">Messages</button>
            <button class="tablinks" onclick="openCity(event, 'Compaigns')">Compaigns</button>
            <button class="tablinks" onclick="openCity(event, 'Virtual-Recruiting-Assistant')">Virtual Recruiting Assistant</button>
          </div>

          <!-- Tab content -->
          <!-- <div id="London" class="tabcontent">
            <h3>London</h3>
            <p>London is the capital city of England.</p>
          </div>

          <div id="Paris" class="tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
          </div>

          <div id="Tokyo" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
          </div> -->
        </div>
      </div>
      <div class="col-md-5">
        <div class="job-tab-frm">
          <div class="row">
            <div class="col-md-12">
              <form>
                <input type="text" name="" placeholder="Search Candidates">
                <i class="fa fa-search" aria-hidden="true"></i>
                <button>Post a job </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
<section class="budget-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="bedget-thr">
        <div class="bedget-lead">
          <div class="lead-back">
            <a href="jobs.html"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to all jobs</a>
          </div>
          <div class="lead-teacher">
            <h4>Lead Three Year Old Teacher</h4>
            <p>The Sprout Academy – Seminole, FL</p>
          </div>
          <div class="lead-click">
            <h4>Clicks</h4>
            <h3>Your job</h3>
            <section class="timeline">
              <figure class="timeline--inner">
                <i class="timeline--inner-pin is-normal" data-title="Normal Pin"></i>
                <i class="timeline--inner-pin is-normal" data-title="Normal Pin"></i>
                <i class="timeline--inner-pin is-normal" data-title="Normal Pin"></i>
                <i class="timeline--inner-pin is-normal" data-title="Normal Pin"></i>
                <i class="timeline--inner-pin is-normal" data-title="Normal Pin"></i>
                <i class="timeline--inner-pin is-normal" data-title="Normal Pin"></i>
                <i class="timeline--inner-pin is-normal" data-title="Normal Pin"></i>

              </figure>
            </section>
          </div>
        </div>
        <div class="budget-week">
          <h4>Clicks this week</h4>
          <p>0</p>
          <a href="">Increase budget for more clicks</a>
          <a href="">Improve job description</a>
        </div>
        <div class="budget-candidate">
          <h4>Candidates</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="awaiting">
                <h4>Awaiting Review</h4>
                <p>7</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="awaiting">
                <h4>Total excluding rejected</h4>
                <p>17</p>
              </div>
            </div>
          </div>
        </div>
        <div class="budget-desc">
          <h4>Job Description</h4>
          <p>We are an well established organization of preschools spread throughout Pinellas County, FL. We are one of the few preschool organizations around that offer competitive pay plus FULL benefits!! We offer health, dental, and vision insurance along with earned paid time off. All of these are available once you qualify in accordance with our company policy. If you are a child care professional who enjoys working with children, you have a positive attitude and you are a team player, apply today!</p>
          <p>Our classes are very active groups where our children learn many life skills, as well as music and movement, and art. They learn to communicate with each other and with adults. We are looking for a warm, nurturing caregivers who are creative and energetic team players and who love working with a variety of age groups. The teacher will have a variety of duties, including leading a group of children through an educational curriculum, coordinating lesson plans and classroom activities with the lead teacher, and interacting with children and parents.</p>
          <p>Responsibilities</p>
          <ul>
           <li>Overall supervision and daily class functions of a class of children</li>
           <li>Be punctual and dependable, arriving on-time every day for work, and be enthusiastic</li>
           <li>Assess each child's developmental needs on an ongoing basis</li>
           <li>Communicate consistently and effectively with parents and families about the developmental progress of their children, including completion of daily communication reports for parents</li>
           <li>Plan with the Lead Teacher and help implement the daily lesson plans and classroom activities</li>
           <li>Plan with the Lead Teacher all required parent-teacher conferences and student evaluations</li>
           <li>Provide an attractive, well-kept classroom that encourages creativity, exploration and decision-making by the children</li>
           <li>Ensure that all class bulletin boards are current and provides the parents with an overview of the material taught in class</li>
           <li>Coordinate snacks, meals, nap time, diapering and bathroom activities, including potty-training</li>
           <li>Provide the children with verbal praises and acceptance while providing clear and consistent expectations for the children's behavior</li>
           <li>Maintain a highly professional attitude and a strong work ethic</li>
           <li>Follow the schedule, as determined by administration</li>
           <li>Attend all required staff meetings, workshops and/or school functions as determined by administration  </li>
           <li>Observe all rules and regulations of the preschool, Pinellas County Child Care Licensing, Florida DCF and accrediting agencies pertaining to the health, safety and care of children</li>
           <li>Maintain a professional personal appearance adhering to the guidelines required by the preschool's policy</li>
           <li>Assist in other capacities, as determined by administration</li>
           <li>Qualifications:</li>
           <li>Must have 40 hours DCF training, plus 5 hours of literacy (or working on them)</li>
           <li>Must love working with young children</li>
           <li>CDA certification or a degree related to early childhood education a plus</li>
           <li>Preferably at least two (2) years of childcare experience, but not required</li>
           <li>Confidence in working with children, parents and their fellow staff</li>
           <li>Able to work positively under the guidance and supervision of administration</li>
           <li>Strong communication skills</li>
           <li>Ability to relate positively with young children</li>
           <li>Must be able to lift up to 35 lbs. in connection with the handling of children for the facilitation of programs, child safety, and potential emergency situations Upon employment:</li>
           <li>Must meet all company, and local, state or national basic health requirements as well as other requirements</li>
           <li>First Aid training, as required</li>
           <li>Must complete all necessary company employment and payroll forms</li>
           <li>A fingerprinting and/or criminal investigation report completed prior to employment

Reporting relationship:</li>
           <li>Reports directly to the site director</li>
          </ul>
          <h3>Job Type: Full-time</h3>
          <h4>Pay: $10.00 - $15.00 per hour</h4>
          <h4>COVID-19 considerations:</h4>
          <p>We are taking all COVID-19 precautions that are required of us by local, state, and federal policies.</p>
        </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="budget-edit">
          <div class="edit-btn">
            <a href="" class="edit-jb">Edit job</a>
            <select>
              <option>Statue: Paused</option>
              <option>Statue: Paused</option>
              <option>Statue: Paused</option>
            </select>
            <a href="" class="edit-view">View public job page</a>
          </div>
          <div class="edit-edtail">
            <h4>Details</h4>
            <h3>Created: <span>june 15,2021</span></h3>
            <h3>Views <span>433</span></h3>
            <h3>Candidates <span>31 total</span></h3>
            <a href="">Add a candidates</a>
            <a href="">Find candidates</a>
          </div>
          <div class="budget-cost">
          <h4>Budget</h4>
          <h3>job budget: 33.00 daily</h3>
          <h3>Cast: $0.00</h3>
          <a href="">Edit Job budget</a>
          <a href="">Edit Job budget</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/fontawesome.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>

