<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/custom1.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/fancybox.min.css">
    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />

    <title>Hello, world!</title>
  </head>

  <body style="background-color: #4b4b4b12">

      <div class="bottom-row">
        
        <div class="container">
          <div class="row">
        <div class="col-md-6">
          <div class="main">
          <div class="logo">
            <img src="images/indeed-logo.png">
          </div>
          <nav class="navbar navbar-expand-md navbar-light">
      
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>
                <a href="#" class="nav-item nav-link">Messages</a>
                <a href="#" class="nav-item nav-link">Reports</a>
            </div>
        </div>
    </nav>
        </div>
        </div>
        <div class="col-md-6">
          <div class="help-center">
          <div class="help">
            <a href="">Help Center<i class="fa fa-question-circle" aria-hidden="true"></i></a>
          </div>
          <div class="academy">
            <a href="">The Sprout Academy</a>
          </div>
          <div class="user-notification">
            <a href=""><i class="fa fa-bell" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-bell" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      </div>
        </div>

      </div>
      <!-- END: Bottom Row -->  

    </header>
    <section class="jobs-tab-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="job-tabs">
          <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'jobs')">jobs</button>
            <button class="tablinks" onclick="openCity(event, 'Candidates')">Candidates</button>
            <button class="tablinks" onclick="openCity(event, 'Messages')">Messages</button>
            <button class="tablinks" onclick="openCity(event, 'Compaigns')">Compaigns</button>
            <button class="tablinks" onclick="openCity(event, 'Virtual-Recruiting-Assistant')">Virtual Recruiting Assistant</button>
          </div>

          <!-- Tab content -->
          <!-- <div id="London" class="tabcontent">
            <h3>London</h3>
            <p>London is the capital city of England.</p>
          </div>

          <div id="Paris" class="tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
          </div>

          <div id="Tokyo" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
          </div> -->
        </div>
      </div>
      <div class="col-md-5">
        <div class="job-tab-frm">
          <div class="row">
            <div class="col-md-12">
              <form>
                <input type="text" name="" placeholder="Search Candidates">
                <i class="fa fa-search" aria-hidden="true"></i>
                <button>Post a job </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <section class="findjob-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="job-main">
        <div class="findd-job">
          <form>
            <div class="col-md-12">
          <input type="text" placeholder="job title,keywords,or company" class="input-1">
          <div class="user-ques">
            <p>What</p>
          </div>
          <input type="text" placeholder="NewYork,NY"class="input-2">
          <div class="user-quess">
            <p>Where</p>
          </div>

          <button>Find Jobs</button>
        </form>
        </div>
        <div class="lead-three">
          <div class="lead-sprout">
          <h4>Lead Three Year Old Teacher</h4>
          <p>The Sprout Academy</p>
          <div class="location">
          <a href=""><i class="fa fa-map-marker" aria-hidden="true"></i><p>92529 park blvd N,Seminole,FL 33777</p></a>
        </div>
        <div class="amount">
          <p>$10-$15 an hour -Full-Time</p>
        </div>
          <p>Employeer actively reviewed job 4 days ago</p>
          <p>Responded to 51-74% of applications in the past 30 days typically with in 1 days</p>
           <div class="apply-now">
            <div class="btnn">
            <a href="" >Apply Now</a>
            <div class="apply-heart">
            <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
          </div>
        </div>
        </div>
      </div>
        <div class="job-details">
          <h5>Job Details</h5>
          <div class="salary">
            <h5>Salary</h5>
            <p>$10-$15 an hour</p>
          </div>
          <div class="job-type">
            <h5>Job Type</h5>
            <p>Full-Time</p>
          </div>
          <div class="hiring">
            <h5>Number of hires for this role</h5>
            <p>1</p>
          </div>
        </div>
        <div class="qualifications">
          <h5>Qualification:</h5>
          <ul>
            <li>High School or equilent(Prefered)</li>
            <li>Teaching:1 year(Prefered)</li>
            <li>ChildCare:1 year(Prefered)</li>
            <li>CPR Certification:(Prefered)</li>
          </ul>
        </div>
        <div class="benifits">
          <h5>Benifits:</h5>
          <p>pulled from the full job description</p>
          <a href="">Health Insurance</a>
          <a href="">Dental Insurance</a>
          <a href="">Paid Time Off</a>
          <a href="">Vision Insurance</a>
          <a href="">Employee Insurance</a>

        </div>
        <div class="budget">
          <h4>Job Description</h4>
          <p>We are an well established organization of preschools spread throughout Pinellas County, FL. We are one of the few preschool organizations around that offer competitive pay plus FULL benefits!! We offer health, dental, and vision insurance along with earned paid time off. All of these are available once you qualify in accordance with our company policy. If you are a child care professional who enjoys working with children, you have a positive attitude and you are a team player, apply today!</p>
          <p>Our classes are very active groups where our children learn many life skills, as well as music and movement, and art. They learn to communicate with each other and with adults. We are looking for a warm, nurturing caregivers who are creative and energetic team players and who love working with a variety of age groups. The teacher will have a variety of duties, including leading a group of children through an educational curriculum, coordinating lesson plans and classroom activities with the lead teacher, and interacting with children and parents.</p>
          <p>Responsibilities</p>
          <div class="description">
          <ul>
           <li>Overall supervision and daily class functions of a class of children</li>
           <li>Be punctual and dependable, arriving on-time every day for work, and be enthusiastic</li>
           <li>Assess each child's developmental needs on an ongoing basis</li>
           <li>Communicate consistently and effectively with parents and families about the developmental progress of their children, including completion of daily communication reports for parents</li>
           <li>Plan with the Lead Teacher and help implement the daily lesson plans and classroom activities</li>
           <li>Plan with the Lead Teacher all required parent-teacher conferences and student evaluations</li>
           <li>Provide an attractive, well-kept classroom that encourages creativity, exploration and decision-making by the children</li>
           <li>Ensure that all class bulletin boards are current and provides the parents with an overview of the material taught in class</li>
           <li>Coordinate snacks, meals, nap time, diapering and bathroom activities, including potty-training</li>
           <li>Provide the children with verbal praises and acceptance while providing clear and consistent expectations for the children's behavior</li>
           <li>Maintain a highly professional attitude and a strong work ethic</li>
           <li>Follow the schedule, as determined by administration</li>
           <li>Attend all required staff meetings, workshops and/or school functions as determined by administration  </li>
           <li>Observe all rules and regulations of the preschool, Pinellas County Child Care Licensing, Florida DCF and accrediting agencies pertaining to the health, safety and care of children</li>
           <li>Maintain a professional personal appearance adhering to the guidelines required by the preschool's policy</li>
           <li>Assist in other capacities, as determined by administration</li>
           <li>Qualifications:</li>
           <li>Must have 40 hours DCF training, plus 5 hours of literacy (or working on them)</li>
           <li>Must love working with young children</li>
           <li>CDA certification or a degree related to early childhood education a plus</li>
           <li>Preferably at least two (2) years of childcare experience, but not required</li>
           <li>Confidence in working with children, parents and their fellow staff</li>
           <li>Able to work positively under the guidance and supervision of administration</li>
           <li>Strong communication skills</li>
           <li>Ability to relate positively with young children</li>
           <li>Must be able to lift up to 35 lbs. in connection with the handling of children for the facilitation of programs, child safety, and potential emergency situations Upon employment:</li>
           <li>Must meet all company, and local, state or national basic health requirements as well as other requirements</li>
           <li>First Aid training, as required</li>
           <li>Must complete all necessary company employment and payroll forms</li>
           <li>A fingerprinting and/or criminal investigation report completed prior to employment Reporting relationship:</li>
           <li>Reports directly to the site director</li>
          </ul>
        </div>
          <div class="remotely">
            <p>Work Remotely</p>
            <ul><li>No</li></ul>
          </div>
          <div class="job-type">
            <h5>Job Type</h5>
            <p>Full-Time</p>
          </div>
          <div class="salary">
            <p>Pay:$10-$15 an hour</p>
          </div>
          <div class="benifits">
            <h5>Benifits</h5>
            <ul>
              <li>Dental Insurance</li>
              <li>Employee Discount</li>
              <li>Health Insurance</li>
              <li>Paid Time Off</li>
              <li>Vision Insurance</li>
            </ul>
          </div>
          <div class="schedule">
            <h5>Schedule</h5>
            <ul>
              <li>8 Hour Shift</li>
              <li>Monday To Friday</li>
            </ul>
          </div>
          <div class="consideration">
          <p>COVID-19 considerations:</p>
          <p>We are taking all COVID-19 precautions that are required of us by local, state, and federal policies.</p> 
        </div>
        <div class="education">
          <h5>Education</h5>
          <ul>
            <li>High Education or equivalent(Prefered)</li>
          </ul>
        </div>
        <div class="expierience">
          <h5>Expierience</h5>
          <ul>
            <li>Teaching:1 year(Prefered)</li>
            <li>ChildCare:1 year(Prefered)</li>
          </ul>
        </div>
        <div class="license">
          <h5>License/Certification</h5>
          <ul>
            <li>CPR Certification(Prefered)</li>
            <li>40 DCF clock hours(Prefered)</li>
          </ul>
        </div>
        <div class="work-location">
          <p>Work Location:One Location</p>
        </div>
        <div class="usr-location">
          <div class="location">
            <h5>Location</h5>
          <a href=""><i class="fa fa-map-marker" aria-hidden="true"></i><p>92529 park blvd N,Seminole,FL 33777</p></a>
        </div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1YGBu3BHd2Jjb5rpsvbOa22ySCRg" width="640" height="480"></iframe>
        </div>
        <div class="report-jobb">
          <p>30+days ago</p>
          <p>If you require alternative methids of application or screening.ou must approach the employer  directly to rquest this  as Indeed is not responsible for employer application process</p>
          <div class="report-job">
          <a href=""><i class="fa fa-flag" aria-hidden="true"></i><p>Report Job</p></a>
        </div>
        </div>
        <div class="lead-opt">
          <a href="">Lead Teacher jobs in seminole,FL</a>
          <a href="">Jobs at the sprout academy in seminole,FL</a>
          <a href="">Lead Teacher salaries in seminole,FL</a>
        </div>
        </div>
        </div>
      </div>
    </div>

    </div>
    <div class="col-md-3">
        <div class="company-info">
          <div class="companyy">
          <p>Company Info</p>
        </div>
          <div class="follow">
            <div class="follow-inr">
              <div class="follow-btn">
            <a href="">Follow</a>
          </div>
            <p class="update">Get job updates from the Sprout Academy</p>
          </div>
            <p class="sprout-academy">At the sprout academy we belive in developmentally appropirate curriculam  for children presented in an envorment  which fooster the in... </p>
          </div>
        </div>
        
      </div>
  </div>
</section>


    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/fontawesome.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>

