<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/custom1.css">
    <link rel="stylesheet" href="css/bootstrap.min1.css">
    <link rel="stylesheet" href="css/slick1.css">
    <link rel="stylesheet" href="css/slick-theme1.css">
    <link rel="stylesheet" href="css/fancybox.min1.css">

    <title>Hello, world!</title>
  </head>

  <body>

    <!-- Header Start -->
    <header>

      <!-- Begin: Bottom Row -->
      <div class="bottom-row">
        
        <div class="container">
          <div class="row">
        <div class="col-md-6">
          <div class="main">
          <div class="logo">
            <img src="images/indeed-logo.png">
          </div>
          <nav class="navbar navbar-expand-md navbar-light">
      
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>
                <a href="#" class="nav-item nav-link">Messages</a>
                <a href="#" class="nav-item nav-link">Reports</a>
            </div>
        </div>
    </nav>
        </div>
        </div>
        <div class="col-md-6">
          <div class="help-center">
          <div class="help">
            <a href="">Help Center<i class="fa fa-question-circle" aria-hidden="true"></i></a>
          </div>
          <div class="academy">
            <a href="">The Sprout Academy</a>
          </div>
          <div class="user-notification">
            <a href=""><i class="fa fa-bell" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-bell" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      </div>
        </div>

      </div>
      <!-- END: Bottom Row -->  

    </header>
    <!-- Header End -->
<div class="colored-div">
  <div class="container">
    <section class="sponsor-head">
     <div class="row">
      <div class="col-md-8">
        <div class="sponsor-heading">
          <h2>Sponsor job</h2>
        </div>
      </div>
      <div class="col-dm-4">
        <div class="sponsor-img">
          <img src="images/sponsor.png" alt="sponsor">
        </div>
      </div>
     </div>
  </section>
  <section class="sponsor-teacher-div">
    <div class="spon-tea-head">
      <h5>
        lead three year old teacher
      </h5>
      <p>The Sprout Academy - Seminole, FL 33777</p>
    </div>
    <div class="sponsor-blk-border">
      <div class="budget-div">
        <div class="row">
          <div class="col-md-7">
            <div class="bud-txt">
              <h6>Ad Budget</h6>
              <p>Recommended budget (<span>$33.00</span>) based on your job title and location.</p>
              <div class="wrapper">
  <form class="">
    <div class="dollar-drp">
      <label class="sr-only" for="inlineFormInputGroup">Amount</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon currency-symbol">$</div>
      <input type="text" class="form-control currency-amount" id="inlineFormInputGroup" placeholder="0.00" size="8">
      <div class="input-group-addon currency-addon">

        <select class="currency-selector">
          <option data-symbol="$" data-placeholder="0.00" selected>daily average</option>
          <option data-symbol="€" data-placeholder="0.00">weekly average</option>
          <option data-symbol="£" data-placeholder="0.00">monthly average</option>
          <option data-symbol="¥" data-placeholder="0">yearly average</option>
        </select>

      </div>
    </div>
    <span class="numbering">[1]</span>
    </div>
    
    <div class="form-check set-date-bx">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Set an end date (optional)</label>
  </div>
  <div class="form-group set-date-inp">
    <input type="date" class="form-control" id="setenddate" placeholder="">
  </div>
  </form>
</div>

            </div>
          </div>
          <div class="col-md-5">
            <div class="estimated">
              <h5>estimated results</h5>
              <h6><span>22-24 </span>applicants,</h6>
              <p>over the next 4 weeks <span class="numbering">[1]</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="bud-btm">
        <p>You will spend no more than <b>$990.00 </b>dusing this campaign</p>
        <span>You can change the amount, pause, or close your job at any time.</span>
      </div>
    </div>
    <div class="sponsor-blk-border">
      <div class="main-hire-fast">
        <div class="row">
          <div class="col-md-8">
            <div class="hire-fast-txt">
              <h6>Looks like you need to hire fast</h6>
              <p>You can add an urgently hiring label to your Sponsored job for no additional charge. Job seekers are <b>14% more </b>likely to apply to jobs with this label. <span class="numbering">[1]</span></p>
              <div class="form-check set-date-bx">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Add label</label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="hiring-img">
              <img src="images/urgent.png" alt="urgent">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sponsor-pg-btm">
      <ul>
        <li>
          Actual daily spend may vary.
        </li>
        <li>
          Based on Indeed's past results. This is not the guarantee of future performance.
        </li>
        <li>
          Source: Indeed data (US)
        </li>
      </ul>
    </div>
  </section>
  <section class="sponsor-btns">
    <div class="btm-btns-spon">
      <a href="#" class="rev-spon">Remove budget</a>
      <a href="#" class="savcont">Save and continue</a>
    </div>
  </section>
  </div>
</div>






       <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/fontawesome.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
